In [105]:
import pandas as pd
import numpy as np

In [3]:
df=pd.read_excel("Structured_Data.xlsx")

In [ ]:
● Get all Pokemons whose spawn rate is less than 5%
● Get all Pokemons that have less than 4 weaknesses
● Get all Pokemons that have no multipliers at all
● Get all Pokemons that do not have more than 2 evolutions
● Get all Pokemons whose spawn time is less than 300 seconds.
Note - spawn time format is "05:32”, so assume “minute: second” format and perform the analysis.
● Get all Pokemon who have more than two types of capabilities

In [8]:
list(df[df.spawn_chance*100< 5].name) # all Pokemons whose spawn rate is less than 5%

['Ivysaur',
 'Venusaur',
 'Charmeleon',
 'Charizard',
 'Wartortle',
 'Blastoise',
 'Butterfree',
 'Raichu',
 'Sandslash',
 'Nidoqueen',
 'Nidoking',
 'Clefable',
 'Ninetales',
 'Wigglytuff',
 'Vileplume',
 'Dugtrio',
 'Persian',
 'Primeape',
 'Arcanine',
 'Poliwrath',
 'Kadabra',
 'Alakazam',
 'Machoke',
 'Machamp',
 'Victreebel',
 'Golem',
 'Rapidash',
 'Slowbro',
 'Magneton',
 "Farfetch'd",
 'Dewgong',
 'Muk',
 'Cloyster',
 'Gengar',
 'Electrode',
 'Exeggutor',
 'Marowak',
 'Hitmonlee',
 'Hitmonchan',
 'Lickitung',
 'Weezing',
 'Rhydon',
 'Chansey',
 'Kangaskhan',
 'Seadra',
 'Starmie',
 'Mr. Mime',
 'Gyarados',
 'Lapras',
 'Ditto',
 'Vaporeon',
 'Jolteon',
 'Flareon',
 'Porygon',
 'Omastar',
 'Kabutops',
 'Aerodactyl',
 'Snorlax',
 'Articuno',
 'Zapdos',
 'Moltres',
 'Dragonair',
 'Dragonite',
 'Mewtwo',
 'Mew']

In [28]:
import ast
list(df[df.weaknesses.apply(lambda X: len(ast.literal_eval(X)) < 4 )].name) # all Pokemons that have less than 4 weaknesses

['Charmander',
 'Charmeleon',
 'Charizard',
 'Squirtle',
 'Wartortle',
 'Blastoise',
 'Caterpie',
 'Metapod',
 'Pidgey',
 'Pidgeotto',
 'Pidgeot',
 'Rattata',
 'Raticate',
 'Spearow',
 'Fearow',
 'Ekans',
 'Arbok',
 'Pikachu',
 'Raichu',
 'Sandshrew',
 'Sandslash',
 'Nidoran ♀ (Female)',
 'Nidorina',
 'Nidoran ♂ (Male)',
 'Nidorino',
 'Clefairy',
 'Clefable',
 'Vulpix',
 'Ninetales',
 'Jigglypuff',
 'Wigglytuff',
 'Diglett',
 'Dugtrio',
 'Meowth',
 'Persian',
 'Psyduck',
 'Golduck',
 'Mankey',
 'Primeape',
 'Growlithe',
 'Arcanine',
 'Poliwag',
 'Poliwhirl',
 'Abra',
 'Kadabra',
 'Alakazam',
 'Machop',
 'Machoke',
 'Machamp',
 'Tentacool',
 'Tentacruel',
 'Ponyta',
 'Rapidash',
 'Magnemite',
 'Magneton',
 "Farfetch'd",
 'Doduo',
 'Dodrio',
 'Seel',
 'Grimer',
 'Muk',
 'Shellder',
 'Drowzee',
 'Hypno',
 'Krabby',
 'Kingler',
 'Voltorb',
 'Electrode',
 'Cubone',
 'Marowak',
 'Hitmonlee',
 'Hitmonchan',
 'Lickitung',
 'Koffing',
 'Weezing',
 'Chansey',
 'Kangaskhan',
 'Horsea',
 'Seadra',
 'Goldeen',
 'Seaking',
 'Staryu',
 'Mr. Mime',
 'Electabuzz',
 'Magmar',
 'Pinsir',
 'Tauros',
 'Magikarp',
 'Gyarados',
 'Ditto',
 'Eevee',
 'Vaporeon',
 'Jolteon',
 'Flareon',
 'Porygon',
 'Snorlax',
 'Zapdos',
 'Moltres',
 'Dratini',
 'Dragonair',
 'Mewtwo',
 'Mew']

In [41]:
#all Pokemons that have no multipliers at all
list(df[df.multipliers.apply(lambda X: X == '[0]')].name)

['Venusaur',
 'Charizard',
 'Blastoise',
 'Butterfree',
 'Beedrill',
 'Pidgeot',
 'Raticate',
 'Fearow',
 'Arbok',
 'Raichu',
 'Sandslash',
 'Nidoqueen',
 'Nidoking',
 'Clefable',
 'Ninetales',
 'Wigglytuff',
 'Golbat',
 'Vileplume',
 'Parasect',
 'Venomoth',
 'Dugtrio',
 'Persian',
 'Golduck',
 'Primeape',
 'Arcanine',
 'Poliwrath',
 'Alakazam',
 'Machamp',
 'Victreebel',
 'Tentacruel',
 'Golem',
 'Rapidash',
 'Slowbro',
 'Magneton',
 "Farfetch'd",
 'Dodrio',
 'Dewgong',
 'Muk',
 'Cloyster',
 'Gengar',
 'Onix',
 'Hypno',
 'Kingler',
 'Electrode',
 'Exeggutor',
 'Marowak',
 'Hitmonlee',
 'Hitmonchan',
 'Lickitung',
 'Weezing',
 'Rhydon',
 'Chansey',
 'Tangela',
 'Kangaskhan',
 'Seadra',
 'Seaking',
 'Starmie',
 'Mr. Mime',
 'Scyther',
 'Jynx',
 'Electabuzz',
 'Magmar',
 'Pinsir',
 'Tauros',
 'Gyarados',
 'Lapras',
 'Ditto',
 'Vaporeon',
 'Jolteon',
 'Flareon',
 'Porygon',
 'Omastar',
 'Kabutops',
 'Aerodactyl',
 'Snorlax',
 'Articuno',
 'Zapdos',
 'Moltres',
 'Dragonite',
 'Mewtwo',
 'Mew']

In [75]:
#all Pokemons that do not have more than 2 evolutions
df_new=df.copy()
df_new.dropna(inplace=True)
df_new[df_new.next_evolution.apply(lambda X: len(ast.literal_eval(X)) <= 2)].name

1         Ivysaur
4      Charmeleon
7       Wartortle
10        Metapod
13         Kakuna
16      Pidgeotto
29       Nidorina
32       Nidorino
43          Gloom
60      Poliwhirl
63        Kadabra
66        Machoke
69     Weepinbell
74       Graveler
92        Haunter
147     Dragonair
Name: name, dtype: object

In [86]:
#all Pokemons whose spawn time is less than 300 seconds 
#00:00 also included in list assuming that they are not teaking any time for spawn
df[df.spawn_time.apply(lambda X: int(X.split(':')[0])*60+int(X.split(':')[1]) < 300)].name

0       Bulbasaur
1         Ivysaur
4      Charmeleon
7       Wartortle
24        Pikachu
32       Nidorino
77       Rapidash
80      Magnemite
86        Dewgong
131         Ditto
135       Flareon
138       Omastar
143      Articuno
144        Zapdos
145       Moltres
149        Mewtwo
150           Mew
Name: name, dtype: object

In [104]:
# all Pokemon who have more than two types of capabilities
df[df.type.apply(lambda X: len(ast.literal_eval(X)) > 2 )] # there is no one with more that two capabilities

Empty DataFrame
Columns: [id, num, name, img, type, height, weight, candy, candy_count, egg, spawn_chance, avg_spawns, spawn_time, multipliers, weaknesses, next_evolution, prev_evolution]
Index: []

In [102]:
for i in df.type:
    print(len(ast.literal_eval(i))) # all pokemone has one or two  capabilities.

2
2
2
1
1
2
1
1
1
1
1
2
2
2
2
2
2
2
1
1
2
2
1
1
1
1
1
1
1
1
2
1
1
2
1
1
1
1
1
1
2
2
2
2
2
2
2
2
2
1
1
1
1
1
1
1
1
1
1
1
1
2
1
1
1
1
1
1
2
2
2
2
2
2
2
2
1
1
2
2
1
1
2
2
2
1
2
1
1
1
2
2
2
2
2
1
1
1
1
1
1
2
2
1
1
1
1
1
1
1
2
2
1
1
1
1
1
1
1
1
2
1
2
2
1
1
1
1
1
2
2
1
1
1
1
1
1
2
2
2
2
2
1
2
2
2
1
1
2
1
1

In [69]:
df.next_evolution[65]

"[{'num': '067', 'name': 'Machoke'}, {'num': '068', 'name': 'Machamp'}]"